@font-face {
  font-family: 'Monsterrat';
  src: url('./../assets/fonts/Monsterrat-Bold.woff2') format('woff2'),
      url('./../assets/fonts/Monsterrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Monsterrat';
  src: url('./../assets/fonts/Montserrat-Medium.woff2') format('woff2'),
      url('./../assets/fonts/Monsterrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Monsterrat';
  src: url('./../assets/fonts/Monsterrat-Regular.woff2') format('woff2'),
      url('./../assets/fonts/Monsterrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
