.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(243, 237, 223, 0.5);
    backdrop-filter: blur(5px);
    border: none;
    z-index: 10;
    &.show {
      display: flex;
    }
    &__inner {
      padding: 80px 35px 35px;
      border: 1px solid rgba(12, 3, 0, 1);
      border-radius: 40px ;
      background-color: rgba(255, 255, 255, 1);
    }
    &__title {
      margin-bottom: 30px;
      font-size: 36px;
      font-weight: 500;
      color: rgba(245, 89, 38, 1);
      text-align: center;
    }
    &__subtitle {
      margin: 0 auto 60px;
      font-size: 24px;
      font-weight: 500;
      max-width: 400px;
      text-align: center;
    }
    &__btns {
      display: flex;
      gap: 40px;
      justify-content: center;
      button {
        width: 330px;
      }
    }
    &__delete.button{
      background-color: rgba(255, 0, 0, 1);
    }
  }